<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adonis Blog</title>
    {{ style ('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')}}
    
</head>
<body>
    @include('inc/navbar')
    <div class="container">
        @!section('content')
    </div>
    {{ script ('https://code.jquery.com/jquery-3.5.1.slim.min.js') }}
    {{ script ('https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js') }}
    {{ script ('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js') }}
</body>
</html>