@layout('main')

@section('content')
<h1>{{ title }}</h1>
<ul class="list-group">
    @each(post in posts)
        <a href="/posts/{{ post.id }}">
            <li class="list-group-item">{{ post.title }}</li>
        </a>
    @endeach
</ul>
@endsection